#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  position: fixed;
  margin-top: 96px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

body.sb-sidenav-toggled #wrapper #content-wrapper {
  margin-left: 15rem;
}

#list-bar {
  overflow-y: scroll;
  height: calc(100vh - calc(55px + 96px));
}

#content-wrapper {
  transition: margin 0.25s ease-out;
  margin-top: 7rem;
  margin-left: 0;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}